body{
    position: relative;
    margin :0;
    overflow-x: clip;
    background-color: black;
    width: 100vw;
  }


  p{
    margin: 0;
    width: 100vw;
    text-align :center;
    z-index: 1000;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 20px;
    position: relative;
    z-index: 90;
    margin: 0 auto;
    padding: 100px 20px;
    max-width: 700px;
    line-height: 2;
    letter-spacing: .2em;
    white-space: pre-line;
  }
  
  #bubbles{
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
  
  .bubble{
    position: absolute;
    backface-visibility: hidden;
  }
  .bubble>div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid rgb(255,0,43);
    background-repeat: no-repeat;
    background-position: 10px -10px;
    box-shadow: black -20px 20px 50px;
  }
  